/* globals */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Commissioner", sans-serif;
}
ul {
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
body {
  background: #fafafa;
}
.content-border {
  border: 2px solid #f2f2f2;
}

/* globals end */

/* nav */
.main-container > img {
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
}
.hidden {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  width: 90%;
  max-width: 560px;
  margin: 0 auto;
}

.nav-links {
  position: absolute;
  top: 20%;
  left: 10%;
  background: white;
  width: 80%;
  max-width: 350px;
  border-radius: 8px;
  z-index: 999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-links li {
  padding: 0 20px;
  height: 68px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.199);
}
.mb-nav-btns {
  cursor: pointer;
}
.hero-2 {
  display: none;
}

/* nav end */

/* section a */
main {
  max-width: 729px;
  width: 100%;
  margin: 200px auto 0 auto;
  position: relative;
}
section{
  border-radius: 10px;
  width: 90%;
  background: white;
  margin: auto ; 
  margin-bottom: 25px ;
}

.section-a {
  padding-bottom: 40px;
}
.section-a .master-img {
  position: absolute;
  top: -6%;
  left: 44%;
}


.section-a .sec-a-top-text {
  padding-top: 60px;
  text-align: center;
  width: 95%;
  margin-right: 0;
}

.section-a .sec-a-top-text h1 {
  font-size: 1.48rem;
  margin-bottom: 25px;
}

.section-a .sec-a-top-text p {
  color: #818181;
  margin-bottom: 25px;
}
.sec-a-bot-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-a-bot-btns button {
  padding: 21px 40px;
  background-color: #39b5ab;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
}
.sec-a-bot-btns img {
  margin-left: 10px;
}
.bookmark-container {
  display: flex;
  align-items: center;
}

.bookmark-container a {
  text-align: left;
  display: none;
  margin-left: 15px;
  color: grey;
}
/* section a end */ 


/* section b end */ 
.section-b{
  text-align: center;
  position: relative;
  padding-bottom: 50px;
} 


.sec-b-text{
  margin: 30px 0; 
} 

 .decoration-line{
  width: 80px; 
  margin: auto;
  height: 1px; 
  background: rgb(190, 190, 190);
}

.sec-b-text .text-1{
  font-weight: 700; 
  font-size: 30px;
  margin-bottom: 7px;
}
.sec-b-text .text-2{
  font-weight: 300; 
  font-size: 14px;
  color:grey;
}

.loading-bar{
 height: 12px; 
 width: 90%;
 margin-left: 25px;
 border-radius: 20px;
 background: rgb(236, 236, 236); 
 max-width: 600px; 
 margin: auto;
 position: absolute; 
 left: 5%;
} 
.progress-bar{
  background: #39b5ab; 
  width: 78%; 
  height: 12px;
  border-radius: 20px;
}


@media screen and (min-width: 768px) {
  .hero-1 {
    display: none;
  }
  .hero-2 {
    display: block;
  }
  main {
    margin: 110px auto 0 auto;
  }
  .nav-links {
    left: 30%;
    transform: scale(1.1);
    box-shadow: none;
  }
  .section-a .master-img {
    left: 48%;
  }

  .section-a {
    padding-left: 28px;
    padding-right: 28px;
  }
  .sec-a-bot-btns {
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }
  .sec-a-bot-btns button {
    padding: 18px 39px;
  }
  .bookmark-container a {
    display: block;
  } 
  .section-b{
    display: flex;
    justify-content: flex-start;
  }
  .sec-b-text-container{
    margin-left: 40px;
    display: flex;
    width: 80%; 
    
  } 
  .decoration-line{
    width: 1px; 
    margin: auto;
    height: 80px; 
    background: rgb(190, 190, 190);
  }
  .loading-bar{
    top: 80%; 
    width: 900px;
  }
}

@media screen and (min-width: 1024px) {
main {
  margin: 130px auto 0 auto;
}
  .hero-1 {
    display: none;
  }
  .hero-2 {
    display: block;
  }
  header {
    width: 80%;
    max-width: 1024px;
  }

  .nav-links {
    position: initial;
    display: flex;
    background-color: transparent;
  }
  .nav-links li {
    padding-left: 0 0 0 30px;
    border: none;
  }
  a {
    color: rgba(255, 255, 255, 0.822);
    font-size: 14px;
    width: 80px;
    text-align: right;
  }
  .mb-nav-btns {
    display: none;

}

@media screen and (min-width: 1440px) {
  main {
    margin: 250px auto 0 auto;
  }
}
